<div class="container mt-5">
    Admin Page
    <form action="/admin/login" method="post">
        <input type="text" placeholder="username" name="adminname">
        <input type="password" placeholder="password" name="adminpass">
        <button type="submit" class="btn btn-primary">Login</button>
        {{!-- <a class="btn btn-primary" href="">Login</a> --}}
    </form>
</div>