<h3>Guest Menu showcase</h3>
{{>guest-header}}
<div class="container mt-5 ">
{{#each menuCategory}}
<a href="/guest/menu/menu-items/" class="text-decoration-none link-dark">
<div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">{{description}}
                </p>
            </div>
        </div>
        </a>


{{/each}}
</div>