<div class="container mt-5"> 
    <h1>Welcome To Smart Restaurant App</h1>
    <a class="btn btn-primary" href="/guest">Guest session</a>
    <a class="btn btn-primary" href="/user/login">User Login</a>
    <a class="btn btn-primary" href="/staff/login">Staff Login</a>
    <a class="btn btn-primary" href="/manager/login">Kitchen Manager Login</a>
    <a class="btn btn-primary" href="/cashier/login">Cashier Login</a>
    <a class="btn btn-primary" href="/admin/login">Admin Login</a><br><br>
    <a class="btn btn-primary" href="/user/menu">Menu</a>
</div>