<div class="container mt-5">
    <form action="/manager/menu/add-items" method="post">
        <div class="mb-3">
           <input type="text" placeholder="Item Name" name="itemname" required>
        </div>
        <div class="mb-3">
        <input type="text" placeholder="Description" name="itemdescription" required><br>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Add Item</button>
        </div>
    </form>
</div>