<div class="container mt-5">
    <form action="/manager/login" method="post">
    {{#if error}}

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{error}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{/if}}
    
        <input type="text" placeholder="username" name="mname">
        <input type="password" placeholder="password" name="mpassword">
        <button  type="submit" class="btn btn-primary">Login</button> 
        
        
        <br><br>
        Don't have an account?
        <a class="text-decoration-none" href="/manager/signup">Signup</a>
    </form>
</div>