{{>manager-header}}
Manager dashboard menu management succesfully logged in
<a class="btn btn-primary" href="/manager/addcategory">add category</a> 

<a class="btn btn-primary" href="/manager/additem">add item</a> 

<a class="btn btn-warning" href="/manager/category">menu-category</a> 

