
<div class="body">
    {{>manager-header}}
<h1>Manager Dashboard</h1> 
<div class="container mt-5 ">
{{!-- <a class="btn btn-primary" href="/manager/addcategory">add category</a> 

<a class="btn btn-primary" href="/manager/additem">add item</a> 

<a class="btn btn-warning" href="/manager/category">menu-category</a> --}}
<div class="d-flex justify-content-around gap-5 row">

<div class="card card-5 m-2 col-sm-6">
  <div class="card__icon">🏆</div>
  <p class="card__exit">※</p>
  <div class="text">Ut aliquip ex ea commodo consequat. Duis aute irure dolor</div>
  <p class="card__apply">
    <a class="card__link" href="/manager/addcategory">ADD CATEGORY<i class="fas fa-arrow-right"></i></a>
  </p>
</div>
<div class="card card-5 m-2 col-sm-6">
  <div class="card__icon">🏆</div>
  <p class="card__exit">※</p>
  <div class="text">Ut aliquip ex ea commodo consequat. Duis aute irure dolor</div>
  <p class="card__apply">
    <a class="card__link" href="/manager/additem">ADD ITEMS<i class="fas fa-arrow-right"></i></a>
  </p>
</div>
<div class="card card-5 m-2 col-sm-6">
  <div class="card__icon">🏆</div>
  <p class="card__exit">※</p>
  <div class="text">Ut aliquip ex ea commodo consequat. Duis aute irure dolor</div>
  <p class="card__apply">
    <a class="card__link" href="/manager/category">MENU<i class="fas fa-arrow-right"></i></a>
  </p>
</div>
</div>
</div>
</div>

<style>
    .body{
        background-image: linear-gradient(to bottom, #0b0b0c, #1a141f, #301628, #481527, #5c171d);
        height: 100vh;
        overflow-y: hidden;
    }
    h1{
        color: #5c171d;
        padding: 30px;
    }
    .d-flex{
        margin-left: auto;
    }
    .card {
  margin: 20px;
  padding: 20px;
  width: 290px;
  min-height: 200px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
}
.card__link{
    position: relative;
  text-decoration: none;
   color: rgba(255, 255, 255, 0.9);
   font-size: large;
}
.card__exit,
.card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.card__link::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}

.card__link:hover::after {
  width: 100%;
}

.text {
  color: white;
}

.card__exit {
  grid-row: 1/2;
  justify-self: end;
}

.card__icon {
  grid-row: 2/3;
  font-size: 30px;
}

.card__title {
  grid-row: 3/4;
  font-weight: 400;
  color: #ffffff;
}

.card__apply {
  grid-row: 4/5;
  align-self: center;
  margin-top: 20px;
}

.card-5 {
  background: radial-gradient(#5c171d, #0b0b0c);
}

@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
}

</style>

