{{>user-header}} 
<div class="container mt-5 ">
    <h2>All Category</h2>
   {{#each myCategory}}
   <a href="/manager/menu/menu-items" class="text-decoration-none link-dark">
   <div class="card" style="width: 18rem;">
            <img src="#" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">{{description}}</p>
                <a href="/" class="btn btn-primary">delete</a>
            </div>
        </div>
        </a>
   {{/each}}
    <div class="mt-5 ms-3">
       <a class="btn btn-primary" href="/manager/menu/add-category">Add Category</a>
    </div>
</div>