

<div class="container mt-5">
    <form action="/staff/login" method="post">
    {{#if error}}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{error}} 
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {{/if}}
        <input type="text" placeholder="username" name="staffname" required>
        <input type="password" placeholder="password" name="staffpass" required>
        {{!-- <a class="btn btn-primary" href="/staff/menu">Login</a> --}}
        <button type="submit" class="btn btn-primary">Login</button>
        <br><br>
        Don't have an account?
        <a class="text-decoration-none" href="/staff/signup">Signup</a>
    </form>
</div>
