<div class="container mt-5">
    <form action="">
        <input type="text" placeholder="username">
        <input type="password" placeholder="password">
        <a class="btn btn-primary" href="">Login</a>
    </form>
</div>